<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	  
	  <!-- Font-Awsome -->
	  <script src="https://kit.fontawesome.com/0d4692f1c3.js" crossorigin="anonymous"></script>
	
	 <!-- Cusstum Css -->
	 <link rel="stylesheet" type="text/css" href="/css/main02.css">
    <title>Singularity Blogs</title>
  </head>
  	<body>
		<!-- Nav area -->
		<nav class="navbar navbar-expand-sm navbar-light pb-0">
		  <a class="neu-convex-sbox main-nav-ele" href="#">Singularity</a>
		  <button class="neu-convex-box navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: 0;">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item">
				<a class="neu-convex-sbox main-nav-ele ml-sm-4 d-sm-inline d-none" href="/">Home <span class="sr-only">(current)</span></a>
			  </li>
			</ul>
			<form class="form-inline mt-2 mt-lg-0">
				<a class="neu-convex-sbox main-nav-ele ml-sm-4 d-inline d-sm-none mr-4 mt-2 mb-2" href="/blog">Home <span class="sr-only">(current)</span></a>
				<a class="neu-convex-sbox main-nav-ele mr-4 mt-2 mt-sm-0 mb-2" href="/blog/new">Add new<span class="sr-only">(current)</span></a>
			  <a class="neu-convex-sbox main-nav-ele mr-4 mt-2 mt-sm-0 mb-2" href="/register">Sign up<span class="sr-only">(current)</span></a>
			  <a class="neu-convex-sbox main-nav-ele mt-2 mt-sm-0 mb-2" href="/login">Login<span class="sr-only">(current)</span></a>
			</form>
		  </div>
		</nav>
		
		<!-- Body container -->
		<div class="neu-pressed-box p-3 m-2">
			<div class="row">
				<div class="col-3">
					<div class="neu-convex-box nav-categorys">
						Featured
					</div>
				</div>
				<div class="col-3">
					<div class="neu-convex-box nav-categorys">
						Music
					</div>
				</div>
				<div class="col-3">
					<div class="neu-convex-box nav-categorys">
						Reviews
					</div>
				</div>
				<div class="col-3">
					<div class="neu-convex-box nav-categorys">
						General
					</div>
				</div>
			</div>
			
		