<%-include("../../partials/header") -%>
<div class="p-3 p-sm-5">
	<h1>Pricing policy</h1>
	<p>This page will break down the logic behind how we chose our prices.</p>

	<p><strong>Expenditure model</strong></p>
	<p>When determining your price we consider these four categories.</p>
	<ul>
		<li>Development</li>
		<li>Domain Name</li>
		<li>Hosting</li>
		<li>Third party services</li>
	</ul>

	<h2>Domain Name Pricing</h2>
	<p>The price for a domain will usually range between $8 - $50 a year</p>

	<h2>Hosting Pricing</h2>
	<p>
		The price of hosting is determined by how quick and reliable you wish your site to be. The price of hosting can
		range anywhere from $5 - $1200 a year.
	</p>

	<h2>Third party services</h2>
	<p>
		Some website functionality requires help from additional third parties. This may include additional costs
		ranging from free - $(The skys the limit).
	</p>

	<h2>Development Pricing</h2>
	<p>The following section explains how we charge for our development work.</p>

	<h3>Singularity</h3>
	<p>
		The apps we build will include licences that will allow the code to be used for both the client and us. Owning
		exclusive to the code created by us will be an addical charge. Sites will all come with a one year hosting plan
		with Hobo host. If you do not wish to use Hobo host then you must provide your own means of hosting either in
		owning your own hosting provider account or contacting us to set yours up. We do not take ownership over your
		hosting server.
	</p>

	<h3>Licence Pricing</h3>
	<p>Exclusive Licence: +30%</p>
	<p>Redistribution Licence: +20%</p>
	<p>Commercial Licence: +10%</p>
	<p>Standard Licence: +0%</p>

	<h3>Site Packages</h3>

	<h4>The Enterprise Site!</h4>
	<ul>
		<li>Costs: $1200</li>
		<li>8 major pages</li>
		<li>8 minor pages</li>
		<li>Database functionality</li>
		<li>User authentication</li>
		<li>E commerce</li>
		<li>Email functionality</li>
		<li>Four free revisions</li>
		<li>Revisions pricing</li>
		<ul>
			<li>Small: $2.26 / revision</li>
			<li>Medium: $4.52 / revision</li>
			<li>Large: $9.44 / revision</li>
		</ul>
		<li>Design approval before development</li>
		<li>CMS integration</li>
	</ul>

	<h4>The Professional site!</h4>
	<ul>
		<li>Costs: $600</li>
		<li>8 major pages</li>
		<li>8 minor pages</li>
		<li>Database functionality</li>
		<li>User authentication</li>
		<li>E commerce</li>
		<li>Email functionality</li>
		<li>Two free revisions</li>
		<li>Revisions pricing</li>
		<ul>
			<li>Small: $4.52 / revision</li>
			<li>Medium: $9.44 / revision</li>
			<li>Large: $18.88 / revision</li>
		</ul>
		<li>Design approval before development</li>
	</ul>

	<h4>The Advanced site!</h4>
	<ul>
		<li>Costs: $200</li>
		<li>2 major pages</li>
		<li>4 minor pages</li>
		<li>Database functionality</li>
		<li>User authentication</li>
		<li>Two free revisions</li>
		<li>Revisions pricing</li>
		<ul>
			<li>Small: $9.44 / revision</li>
			<li>Medium: $18.88 / revision</li>
			<li>Large: $37.28 / revision</li>
		</ul>
		<li>Design approval before development</li>
	</ul>

	<h4>The Starter site!</h4>
	<ul>
		<li>Costs: $100</li>
		<li>Setup of wordpress working on c-panel hosting provider</li>
		<li>Installation of theme</li>
		<li>1 year of Hobo host hosting</li>
	</ul>

	<h3>Components Pricing</h3>
	<p>Major page: $50 each</p>
	<p>Minor page: $10 each</p>
	<p>E Commerce: $200</p>
	<p>User authentication: $50</p>
	<p>Database functionality: $50</p>
	<ul>
		<li>Note User Authentication must be purchased with Database functionality</li>
	</ul>
	<p>Email functionality: $50</p>
	<p>Require Approval of design: $100</p>
	<p>Integrated content management system: $700</p>
</div>
<%-include("../../partials/footer") -%>
